.hero-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    z-index: 1;
}

.hero-section:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 322px;
    height: 308px;
    border-radius: 50%;
    background: linear-gradient(260deg, var(--theme-primary) 0%, rgba(115, 67, 210, 0) 100%);
    filter: blur(150px);
    margin-right: -5%;
    margin-top: -5%;
    z-index: -1;
}

.hero-section .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 110px;
}

.hero-section .content .left {
    width: 50%;
}

.hero-content-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-content-box .hero-title {
    font-size: 65px;
    background: linear-gradient(to right, var(--theme-primary) 0%, var(--white) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-content-box .lead {
    font-size: 20px;
    line-height: 30px;
}

.hero-content-box .button-box {
    margin-top: 25px;
    width: fit-content;
}

.hero-section .content .right {
    display: flex;
    justify-content: center;
    line-height: 0;
    width: 50%;
}

.hero-section .content .right .hero-image-box {
    width: 400px;
    height: 400px;
}

.hero-section .content .right .hero-image-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
    border: 4px solid var(--theme-secondary);
}

.hero-section .content .right .hero-image-box img:hover {
    border: 4px solid var(--theme-primary);
}


@keyframes animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}


@media (max-width: 768px) {
    .hero-section {
        background-color: var(--theme-accent-1);
    }

    .hero-section .content {
        margin-bottom: 70px;
    }

    .hero-section .content .left {
        width: 100%;
    }

    .hero-section .content .right {
        display: none;
    }

    .hero-content-box .hero-title {
        font-size: 50px;
    }

    .hero-content-box .lead {
        font-size: 18px;
        line-height: 30px;
    }
}